body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: scroll;
}

h6 {
    font-size: 34px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    font-weight: lighter;
    color: #FFFFFF;
}

button {
    background-color: #E83F57;
    color: beige;
    border-radius: 4px;
    border-style: none;
    height: 30px;
    width: 139px;
    font-weight: bold;
    font-size: 12px;
}

header {
    background-image: url("poster.png");
    height: 40vh;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    background-color: black;
    display: flex;
    flex-direction: column; 
}

footer {
    background-color: #333333;
}

.smallCards {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 1em;
    margin: 2em 1em 2em 1em;
}

.bigCards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    margin: 2em 1em 2em 1em;
}

.card {
    display: flex;
    flex-direction: column;
}

.bigger {
    
}

.smallCards img {
    width: 20vw;
}

.bigCards img {
    width: 30vw
}

article {
    background-color: #FFFFFF;
    padding: 16px;
}

article p {
    color: #222222;
}


article h6 {
    color: #222222;
}