body {
    margin: 0;
}

.wrapper {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: 50vh 1fr auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

header {
    grid-area: 1/1/2/7;
    background-color: #3DE07E;
    display: grid;
}

header h1 {
    place-self: center;
    font-size: 4em;
    color: black;
    justify-self: center;
}

.navIcon {
    margin-top: 32px;
    margin-left: 32px;
}

.ninjaHead {
    justify-self: center;
    align-self: flex-end;
    width: 10vw;
}

.smaller {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(3, auto);
    gap: 5vw;
    justify-content: center;
}

article {
}

main {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    padding: 10vw 5vw;
    grid-area: 2/1/3/7;

}

.bigger {
    grid-area: 7/1/8/4;
    display: grid;
    grid-template-columns: 32.5vw 32.5vw;
    grid-template-rows: 1fr;
    gap: 5vw;
    padding-top: 5vw;
    justify-content: center;
}

.bigger article {
    background-color: white;
}

.smaller img {
    width: 100%;
}

.bigger img {
    width: 100%;
}

.bigger button {
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.bigger p, .bigger h3 {
    color: black;
    margin-left: 15px;
    margin-right: 15px;
}

.bigger p {
    margin-bottom: 3em;
}

footer {
    background-color: #333333;
    grid-area: 3/1/4/7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5vw 15vw;
    justify-content: center;
}

p, h3, li {
    color: #ffff;
}

p {
    font-size: 1vw;
}

h3 {
    font-size: 3vw;
}

button {
    border-radius: 4px;
    background-color: #E83F57;
    color: white;
    border-style: none;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1vw;
}

@media screen and (max-width: 600px) {
    button {font-size: 2vw;}
    p {font-size: 2vw;}
    .smaller {
        display: grid;
        grid-template-columns: repeat(3, 25vw);
        grid-template-rows: repeat(3, auto);
        gap: 3vw;
        justify-content: center;
    }
    .bigger {
        grid-area: 7/1/8/4;
        display: grid;
        grid-template-columns: 38vw 38vw;
        grid-template-rows: 1fr;
        gap: 3vw;
        padding-top: 32px;
        justify-content: center;
    }
    h3 {
        font-size: 2.4vw;
    }
    .ninjaHead {
        width: 21vw;
    }
    .wrapper {
        grid-template-rows: 30vh 1fr auto;
    }
    header h1 {
        font-size: 10vw;
    }
    footer img {
        width: 3vw;
    }
    .ninjaHead {
        width: 20vw;
    }
}


